In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np, os
import matplotlib.pyplot as plt

from pathlib import Path
import yaml
import re
import datetime

import pyarrow as pa
import pyarrow.parquet as pq

import gbd_mapping as gm
from vivarium import Artifact

from db_queries import get_ids, get_outputs, get_population, get_covariate_estimates
from get_draws.api import get_draws

import vivarium_helpers as vh
import vivarium_helpers.id_helper as idh
from vivarium_helpers.vph_output.operations import VPHOperator
from vivarium_helpers.vph_output.measures import VPHResults
from vivarium_helpers.utils import convert_to_categorical, constant_categorical, print_memory_usage, Timer
from vivarium_helpers.vph_output import cleaning
from vivarium_helpers.vph_output.loading import load_draws_from_keyspace_files
from vivarium_helpers.projects.alzheimers import loading, population
from vivarium_helpers.projects.alzheimers.population import RunType
from vivarium_helpers.vph_artifact.operations import convert_to_sim_format
from vivarium_helpers.projects.alzheimers.results import AlzheimersResultsProcessor

!date
!whoami
!pwd

Tue Nov 18 12:29:10 PST 2025
ndbs
/mnt/share/code/ndbs/vivarium_research_alzheimers/results_tables

In [3]:
# from vivarium_helpers.projects.alzheimers.results import AlzheimersResultsProcessor

# Define data directories

In [4]:
# Project directory
project_dir = Path('/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/')

# Output directory to store final results for client
output_dir = Path(r"J:\Project\simulation_science\alzheimers\results_in_progress".replace('\\', '/').replace('J:', '/snfs1'))
print(output_dir.exists())

# Output from multistate life table
mslt_output_dir = output_dir.parent / 'results_11_14_2025_mslt'
print(mslt_output_dir.exists())
output_dir

True
True

PosixPath('/snfs1/Project/simulation_science/alzheimers/results_in_progress')

In [5]:
# For testing: Run directory containing model 8.3 results for all
# locations
model_run_subdir = 'results/abie_consistent_model_test/united_states_of_america/2025_10_28_08_55_05/'

# Results directory for model 8.3, for testing
results_dirs = project_dir / model_run_subdir / 'results/'

# Artifact for models 8.3 - 8.7
artifact_model_number = '8.3'

In [6]:
# Model 8.4 results (final runs for 10/31/25 intermediate results)
# Each batch run contains all locations, 100 random seeds, and 3 or 4 draws
model_run_dir_8_4 = Path('/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/results/model8.4/model_spec')

# Model 8.7 results (updated final run completed on 11/10/2025)
model_run_dir_8_7 = Path('/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/results/model8.7/model_spec')

# Batch runs are stored in "timestamp" subdirectories of the model run
# directory
with os.scandir(model_run_dir_8_7) as entries:
    batch_run_dirs_8_7 = [entry.path for entry in entries]

# Select a model and filter for testing
batch_run_dirs = batch_run_dirs_8_7[:2]

batch_results_dirs = []
for run_dir in batch_run_dirs:
    if run_dir.endswith('2025_10_29_20_41_39'):
        # One batch had to be deduplicated
        results_dir = run_dir + '/deduplicated_results'
    else:
        results_dir = run_dir + '/results'
    batch_results_dirs.append(results_dir)
batch_results_dirs

batch_results_dirs

['/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/results/model8.7/model_spec/2025_11_05_15_36_29/results',
 '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/results/model8.7/model_spec/2025_11_06_06_42_37/results']

In [16]:
results = AlzheimersResultsProcessor('8.3', RunType.FINAL, batch_run_dirs=batch_run_dirs)

In [15]:
results.draws

[457, 169, 323, 258, 446]

# Define locations, column datatypes, and directory maps

In [7]:
locations = [
    'United States of America',
    'Brazil',
    'China',
    'Germany',
    'Israel',
    'Japan',
    'Spain',
    'Sweden',
    'Taiwan (Province of China)',
    'United Kingdom',
]

colname_to_dtype = loading.get_column_dtypes(locations)

location_to_results_dir = loading.get_location_results_dict(results_dirs)

location_to_artifact_path = loading.get_location_artifact_dict(
    locations, artifact_model_number)

# This is needed to assign locations in the model results
location_to_artifact_path

{'United States of America': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf',
 'Brazil': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf',
 'China': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf',
 'Germany': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf',
 'Israel': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf',
 'Japan': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf',
 'Spain': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf',
 'Sweden': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf',
 'Taiwan (Province of China)': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf',
 'United Kingdom': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf'}

# Load one artifact to define age bins

### And read draws from `keyspace.yaml` files to filter Artifact data

In [8]:
draws = load_draws_from_keyspace_files(batch_run_dirs)
draws

[457, 169, 323, 258, 446]

In [9]:
artifact_path = location_to_artifact_path[locations[0]]
print(artifact_path)
age_map = loading.get_age_map(artifact_path, age_group_dtype=colname_to_dtype['age_group'])
age_map

/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf

    age_group_id age_group_name  age_start  age_end age_group
0             10       25 to 29       25.0     30.0  25_to_29
1             11       30 to 34       30.0     35.0  30_to_34
2             12       35 to 39       35.0     40.0  35_to_39
3             13       40 to 44       40.0     45.0  40_to_44
4             14       45 to 49       45.0     50.0  45_to_49
5             15       50 to 54       50.0     55.0  50_to_54
6             16       55 to 59       55.0     60.0  55_to_59
7             17       60 to 64       60.0     65.0  60_to_64
8             18       65 to 69       65.0     70.0  65_to_69
9             19       70 to 74       70.0     75.0  70_to_74
10            20       75 to 79       75.0     80.0  75_to_79
11            30       80 to 84       80.0     85.0  80_to_84
12            31       85 to 89       85.0     90.0  85_to_89
13            32       90 to 94       90.0     95.0  90_to_94
14           235        95 plus       95.0    125.0   95_plus

# Test loading data

In [10]:
# Stats for reading deaths.parquet with no extra filters:
# 28 seconds to load 2 batches with 1 location group, 20 MB after concatenation,
# max 1877 MB before aggregating seeds
# 31 seconds to load 2 batches with 3 location groups, 86 MB after concatenation,
# max 751 MB before aggregating seeds
with Timer():
    test = loading.load_measure_from_batch_runs(
        'deaths', batch_results_dirs, locations, n_location_groups=1,
        artifact_model_number=artifact_model_number,
        colname_to_dtype=colname_to_dtype,
    )
test.dtypes

[('event_year', '>=', '2025')]
/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/results/model8.7/model_spec/2025_11_05_15_36_29/results
{'United States of America': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', 'Brazil': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', 'China': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', 'Germany': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', 'Israel': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', 'Japan': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', 'Spain': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', 'Sweden': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', 'Taiwan (Province of China)': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', 'United Kingdom': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf'}
('artifact_path', 'in', ['/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf'])
[('artifact_path', 'in', ['/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf']), ('event_year', '>=', '2025')]
1354.331843 MB after read_parquet
8.213636 MB after aggregating seeds and converting dtypes
/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/results/model8.7/model_spec/2025_11_06_06_42_37/results
{'United States of America': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', 'Brazil': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', 'China': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', 'Germany': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', 'Israel': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', 'Japan': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', 'Spain': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', 'Sweden': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', 'Taiwan (Province of China)': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', 'United Kingdom': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf'}
('artifact_path', 'in', ['/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf'])
[('artifact_path', 'in', ['/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf']), ('event_year', '>=', '2025')]
902.891843 MB after read_parquet
5.477636 MB after aggregating seeds and converting dtypes
13.685636 MB total
13.685636 MB after enforcing dtypes
Elapsed time: 0:00:20.375708

age_group        category
artifact_path    category
entity           category
entity_type      category
event_year          int16
input_draw          int16
measure          category
scenario         category
sex              category
value             float64
location         category
dtype: object

# Load population structure and initial all-states prevlaence from Artifact

In [11]:
art_pop_structure = loading.load_artifact_data(
    'population.structure', None, location_to_artifact_path)
art_pop_structure.tail()

                                                                  draw_0  \
location       sex  age_start age_end year_start year_end
United Kingdom Male 95.0      125.0   2046       2047      129365.649457
                                      2047       2048      129176.872428
                                      2048       2049      128215.394230
                                      2049       2050      127765.330292
                                      2050       2051      128213.393685

                                                                  draw_1  \
location       sex  age_start age_end year_start year_end
United Kingdom Male 95.0      125.0   2046       2047      130775.330848
                                      2047       2048      131427.429524
                                      2048       2049      131705.587524
                                      2049       2050      131992.359105
                                      2050       2051      133220.130675

                                                                  draw_2  \
location       sex  age_start age_end year_start year_end
United Kingdom Male 95.0      125.0   2046       2047      132470.262731
                                      2047       2048      133135.096509
                                      2048       2049      132988.854403
                                      2049       2050      132745.174212
                                      2050       2051      133421.143899

                                                                  draw_3  \
location       sex  age_start age_end year_start year_end
United Kingdom Male 95.0      125.0   2046       2047      122141.117458
                                      2047       2048      122206.362659
                                      2048       2049      121848.151327
                                      2049       2050      121566.569294
                                      2050       2051      122248.029681

                                                                  draw_4  \
location       sex  age_start age_end year_start year_end
United Kingdom Male 95.0      125.0   2046       2047      122669.816649
                                      2047       2048      121990.475534
                                      2048       2049      120928.626569
                                      2049       2050      120010.799977
                                      2050       2051      119754.120437

                                                                  draw_5  \
location       sex  age_start age_end year_start year_end
United Kingdom Male 95.0      125.0   2046       2047      116553.291993
                                      2047       2048      116216.514579
                                      2048       2049      115242.163772
                                      2049       2050      114127.489703
                                      2050       2051      113654.996368

                                                                  draw_6  \
location       sex  age_start age_end year_start year_end
United Kingdom Male 95.0      125.0   2046       2047      137240.957664
                                      2047       2048      137226.419110
                                      2048       2049      136633.081048
                                      2049       2050      136240.266101
                                      2050       2051      136919.776385

                                                                  draw_7  \
location       sex  age_start age_end year_start year_end
United Kingdom Male 95.0      125.0   2046       2047      146303.198839
                                      2047       2048      147381.840121
                                      2048       2049      147552.139040
                                      2049       2050      147709.447517
                                      2050       2051      148869.875216

                                                                  draw_8  \
location       sex  age_start age_end year_start year_end
United Kingdom Male 95.0      125.0   2046       2047      134355.643238
                                      2047       2048      134405.091989
                                      2048       2049      133626.750369
                                      2049       2050      133317.489612
                                      2050       2051      133983.846752

                                                                  draw_9  ...  \
location       sex  age_start age_end year_start year_end                 ...
United Kingdom Male 95.0      125.0   2046       2047      129130.125638  ...
                                      2047       2048      128844.029807  ...
                                      2048       2049      127966.248102  ...
                                      2049       2050      127169.484355  ...
                                      2050       2051      126969.448946  ...

                                                                draw_490  \
location       sex  age_start age_end year_start year_end
United Kingdom Male 95.0      125.0   2046       2047      129199.724763
                                      2047       2048      128743.759762
                                      2048       2049      127782.664392
                                      2049       2050      127529.973622
                                      2050       2051      128519.079730

                                                                draw_491  \
location       sex  age_start age_end year_start year_end
United Kingdom Male 95.0      125.0   2046       2047      133834.848564
                                      2047       2048      134732.739968
                                      2048       2049      134921.061786
                                      2049       2050      135115.785472
                                      2050       2051      135934.950475

                                                                draw_492  \
location       sex  age_start age_end year_start year_end
United Kingdom Male 95.0      125.0   2046       2047      128153.198273
                                      2047       2048      129357.417043
                                      2048       2049      129793.897779
                                      2049       2050      130017.373330
                                      2050       2051      130583.543525

                                                                draw_493  \
location       sex  age_start age_end year_start year_end
United Kingdom Male 95.0      125.0   2046       2047      126410.768209
                                      2047       2048      127365.126985
                                      2048       2049      127858.445137
                                      2049       2050      128346.358923
                                      2050       2051      129590.537377

                                                                draw_494  \
location       sex  age_start age_end year_start year_end
United Kingdom Male 95.0      125.0   2046       2047      108873.787649
                                      2047       2048      108980.704141
                                      2048       2049      108759.061860
                                      2049       2050      108768.814727
                                      2050       2051      109219.537772

                                                                draw_495  \
location       sex  age_start age_end year_start year_end
United Kingdom Male 95.0      125.0   2046       2047      129171.958392
                                      2047       2048      128693.703184
                                      2048       2049      127744.197044
                                      2049       2050      127682.196818
                                      2050       2051      128856.357034

                                                                draw_496  \
location       sex  age_start age_end year_start year_end
United Kingdom Male 95.0      125.0   2046       2047      132812.650873
                                      2047       2048      133430.947564
                                      2048       2049      133723.530245
                                      2049       2050      134255.130480
                                      2050       2051      135299.299123

                                                                draw_497  \
location       sex  age_start age_end year_start year_end
United Kingdom Male 95.0      125.0   2046       2047      145683.572345
                                      2047       2048      146604.135918
                                      2048       2049      146651.755678
                                      2049       2050      146732.723463
                                      2050       2051      147386.695970

                                                                draw_498  \
location       sex  age_start age_end year_start year_end
United Kingdom Male 95.0      125.0   2046       2047      153951.857746
                                      2047       2048      154047.335390
                                      2048       2049      153534.536161
                                      2049       2050      153968.447922
                                      2050       2051      155815.638277

                                                                draw_499
location       sex  age_start age_end year_start year_end
United Kingdom Male 95.0      125.0   2046       2047      133969.822489
                                      2047       2048      134464.260699
                                      2048       2049      133964.837991
                                      2049       2050      134047.815962
                                      2050       2051      135717.268010

[5 rows x 500 columns]

In [12]:
art_all_states_initial_prev = loading.load_artifact_data(
    'population.scaling_factor', None, location_to_artifact_path)
art_all_states_initial_prev.tail()

                                                               draw_0  \
location       sex    age_start age_end year_start year_end
United Kingdom Female 80        85      2025       2026      0.184057
                      85        90      2025       2026      0.249261
                      90        95      2025       2026      0.288238
                      95        100     2025       2026      0.262417
                      100       105     2025       2026      0.253172

                                                               draw_1  \
location       sex    age_start age_end year_start year_end
United Kingdom Female 80        85      2025       2026      0.205264
                      85        90      2025       2026      0.251477
                      90        95      2025       2026      0.285702
                      95        100     2025       2026      0.263717
                      100       105     2025       2026      0.257814

                                                               draw_2  \
location       sex    age_start age_end year_start year_end
United Kingdom Female 80        85      2025       2026      0.201615
                      85        90      2025       2026      0.250982
                      90        95      2025       2026      0.254878
                      95        100     2025       2026      0.252117
                      100       105     2025       2026      0.248932

                                                               draw_3  \
location       sex    age_start age_end year_start year_end
United Kingdom Female 80        85      2025       2026      0.203185
                      85        90      2025       2026      0.279132
                      90        95      2025       2026      0.292849
                      95        100     2025       2026      0.276680
                      100       105     2025       2026      0.272355

                                                               draw_4  \
location       sex    age_start age_end year_start year_end
United Kingdom Female 80        85      2025       2026      0.178318
                      85        90      2025       2026      0.262662
                      90        95      2025       2026      0.297609
                      95        100     2025       2026      0.262065
                      100       105     2025       2026      0.252686

                                                               draw_5  \
location       sex    age_start age_end year_start year_end
United Kingdom Female 80        85      2025       2026      0.175798
                      85        90      2025       2026      0.236341
                      90        95      2025       2026      0.266154
                      95        100     2025       2026      0.260805
                      100       105     2025       2026      0.253852

                                                               draw_6  \
location       sex    age_start age_end year_start year_end
United Kingdom Female 80        85      2025       2026      0.165233
                      85        90      2025       2026      0.308766
                      90        95      2025       2026      0.328095
                      95        100     2025       2026      0.268706
                      100       105     2025       2026      0.252204

                                                               draw_7  \
location       sex    age_start age_end year_start year_end
United Kingdom Female 80        85      2025       2026      0.152835
                      85        90      2025       2026      0.292557
                      90        95      2025       2026      0.294896
                      95        100     2025       2026      0.252330
                      100       105     2025       2026      0.245571

                                                               draw_8  \
location       sex    age_start age_end year_start year_end
United Kingdom Female 80        85      2025       2026      0.155335
                      85        90      2025       2026      0.276890
                      90        95      2025       2026      0.276581
                      95        100     2025       2026      0.262280
                      100       105     2025       2026      0.251487

                                                               draw_9  ...  \
location       sex    age_start age_end year_start year_end            ...
United Kingdom Female 80        85      2025       2026      0.174561  ...
                      85        90      2025       2026      0.286794  ...
                      90        95      2025       2026      0.281861  ...
                      95        100     2025       2026      0.255821  ...
                      100       105     2025       2026      0.249820  ...

                                                             draw_490  \
location       sex    age_start age_end year_start year_end
United Kingdom Female 80        85      2025       2026      0.180658
                      85        90      2025       2026      0.271585
                      90        95      2025       2026      0.269374
                      95        100     2025       2026      0.248522
                      100       105     2025       2026      0.237925

                                                             draw_491  \
location       sex    age_start age_end year_start year_end
United Kingdom Female 80        85      2025       2026      0.197655
                      85        90      2025       2026      0.290982
                      90        95      2025       2026      0.263590
                      95        100     2025       2026      0.244338
                      100       105     2025       2026      0.215883

                                                             draw_492  \
location       sex    age_start age_end year_start year_end
United Kingdom Female 80        85      2025       2026      0.150986
                      85        90      2025       2026      0.269875
                      90        95      2025       2026      0.231749
                      95        100     2025       2026      0.248601
                      100       105     2025       2026      0.224073

                                                             draw_493  \
location       sex    age_start age_end year_start year_end
United Kingdom Female 80        85      2025       2026      0.137985
                      85        90      2025       2026      0.259442
                      90        95      2025       2026      0.222870
                      95        100     2025       2026      0.242992
                      100       105     2025       2026      0.222823

                                                             draw_494  \
location       sex    age_start age_end year_start year_end
United Kingdom Female 80        85      2025       2026      0.183084
                      85        90      2025       2026      0.278545
                      90        95      2025       2026      0.251981
                      95        100     2025       2026      0.261974
                      100       105     2025       2026      0.256208

                                                             draw_495  \
location       sex    age_start age_end year_start year_end
United Kingdom Female 80        85      2025       2026      0.153108
                      85        90      2025       2026      0.276393
                      90        95      2025       2026      0.253709
                      95        100     2025       2026      0.263646
                      100       105     2025       2026      0.267994

                                                             draw_496  \
location       sex    age_start age_end year_start year_end
United Kingdom Female 80        85      2025       2026      0.163890
                      85        90      2025       2026      0.301692
                      90        95      2025       2026      0.288297
                      95        100     2025       2026      0.274336
                      100       105     2025       2026      0.269680

                                                             draw_497  \
location       sex    age_start age_end year_start year_end
United Kingdom Female 80        85      2025       2026      0.135606
                      85        90      2025       2026      0.294791
                      90        95      2025       2026      0.272311
                      95        100     2025       2026      0.246757
                      100       105     2025       2026      0.248598

                                                             draw_498  \
location       sex    age_start age_end year_start year_end
United Kingdom Female 80        85      2025       2026      0.137780
                      85        90      2025       2026      0.286761
                      90        95      2025       2026      0.251585
                      95        100     2025       2026      0.253818
                      100       105     2025       2026      0.249409

                                                             draw_499
location       sex    age_start age_end year_start year_end
United Kingdom Female 80        85      2025       2026      0.178453
                      85        90      2025       2026      0.287763
                      90        95      2025       2026      0.264228
                      95        100     2025       2026      0.256388
                      100       105     2025       2026      0.246543

[5 rows x 500 columns]

# Calculate initial real-world prevalence counts and model scale

In [13]:
art_all_states_initial_prev_counts = population.get_initial_real_world_population(
    art_pop_structure, art_all_states_initial_prev
)
art_all_states_initial_prev_counts.tail()

                                                                            draw_0  \
location                 sex  age_start age_end year_start year_end
United States of America Male 75.0      80.0    2022       2023      279503.716159
                              80.0      85.0    2022       2023      295491.963153
                              85.0      90.0    2022       2023      265660.836082
                              90.0      95.0    2022       2023      135009.931912
                              95.0      100.0   2022       2023       29288.078689

                                                                            draw_1  \
location                 sex  age_start age_end year_start year_end
United States of America Male 75.0      80.0    2022       2023      241421.537335
                              80.0      85.0    2022       2023      334542.816129
                              85.0      90.0    2022       2023      279333.123360
                              90.0      95.0    2022       2023      140544.500518
                              95.0      100.0   2022       2023       30698.389085

                                                                            draw_2  \
location                 sex  age_start age_end year_start year_end
United States of America Male 75.0      80.0    2022       2023      303005.456325
                              80.0      85.0    2022       2023      352919.503418
                              85.0      90.0    2022       2023      259372.093530
                              90.0      95.0    2022       2023      117802.312175
                              95.0      100.0   2022       2023       30107.564684

                                                                            draw_3  \
location                 sex  age_start age_end year_start year_end
United States of America Male 75.0      80.0    2022       2023      245046.790482
                              80.0      85.0    2022       2023      327523.755730
                              85.0      90.0    2022       2023      273638.950137
                              90.0      95.0    2022       2023      135061.861965
                              95.0      100.0   2022       2023       32246.260410

                                                                            draw_4  \
location                 sex  age_start age_end year_start year_end
United States of America Male 75.0      80.0    2022       2023      291032.019730
                              80.0      85.0    2022       2023      309471.027115
                              85.0      90.0    2022       2023      256249.409965
                              90.0      95.0    2022       2023      138174.629778
                              95.0      100.0   2022       2023       30766.214728

                                                                            draw_5  \
location                 sex  age_start age_end year_start year_end
United States of America Male 75.0      80.0    2022       2023      292173.888069
                              80.0      85.0    2022       2023      296260.437344
                              85.0      90.0    2022       2023      220125.858697
                              90.0      95.0    2022       2023      113243.661152
                              95.0      100.0   2022       2023       29113.490401

                                                                            draw_6  \
location                 sex  age_start age_end year_start year_end
United States of America Male 75.0      80.0    2022       2023      319151.434213
                              80.0      85.0    2022       2023      265026.502337
                              85.0      90.0    2022       2023      295555.094216
                              90.0      95.0    2022       2023      140889.365668
                              95.0      100.0   2022       2023       29413.069566

                                                                            draw_7  \
location                 sex  age_start age_end year_start year_end
United States of America Male 75.0      80.0    2022       2023      322901.726876
                              80.0      85.0    2022       2023      256594.636540
                              85.0      90.0    2022       2023      283893.375460
                              90.0      95.0    2022       2023      133342.913330
                              95.0      100.0   2022       2023       29157.686021

                                                                            draw_8  \
location                 sex  age_start age_end year_start year_end
United States of America Male 75.0      80.0    2022       2023      320919.877307
                              80.0      85.0    2022       2023      268008.281527
                              85.0      90.0    2022       2023      262971.486971
                              90.0      95.0    2022       2023      123131.014317
                              95.0      100.0   2022       2023       30052.152467

                                                                            draw_9  \
location                 sex  age_start age_end year_start year_end
United States of America Male 75.0      80.0    2022       2023      312721.888359
                              80.0      85.0    2022       2023      311310.859435
                              85.0      90.0    2022       2023      293492.877529
                              90.0      95.0    2022       2023      132526.382970
                              95.0      100.0   2022       2023       30956.218671

                                                                     ...  \
location                 sex  age_start age_end year_start year_end  ...
United States of America Male 75.0      80.0    2022       2023      ...
                              80.0      85.0    2022       2023      ...
                              85.0      90.0    2022       2023      ...
                              90.0      95.0    2022       2023      ...
                              95.0      100.0   2022       2023      ...

                                                                          draw_490  \
location                 sex  age_start age_end year_start year_end
United States of America Male 75.0      80.0    2022       2023      340496.388986
                              80.0      85.0    2022       2023      328352.211159
                              85.0      90.0    2022       2023      304798.665607
                              90.0      95.0    2022       2023      129627.305356
                              95.0      100.0   2022       2023       32091.208571

                                                                          draw_491  \
location                 sex  age_start age_end year_start year_end
United States of America Male 75.0      80.0    2022       2023      183624.796107
                              80.0      85.0    2022       2023      321773.632827
                              85.0      90.0    2022       2023      274423.347832
                              90.0      95.0    2022       2023      108648.748859
                              95.0      100.0   2022       2023       26499.605071

                                                                          draw_492  \
location                 sex  age_start age_end year_start year_end
United States of America Male 75.0      80.0    2022       2023      303387.652317
                              80.0      85.0    2022       2023      270912.872088
                              85.0      90.0    2022       2023      285871.062247
                              90.0      95.0    2022       2023      105907.707572
                              95.0      100.0   2022       2023       31482.881082

                                                                          draw_493  \
location                 sex  age_start age_end year_start year_end
United States of America Male 75.0      80.0    2022       2023      257740.083278
                              80.0      85.0    2022       2023      241055.920798
                              85.0      90.0    2022       2023      260618.321976
                              90.0      95.0    2022       2023       95763.096448
                              95.0      100.0   2022       2023       29952.989616

                                                                          draw_494  \
location                 sex  age_start age_end year_start year_end
United States of America Male 75.0      80.0    2022       2023      264585.258062
                              80.0      85.0    2022       2023      321904.097725
                              85.0      90.0    2022       2023      271969.277566
                              90.0      95.0    2022       2023      111257.383359
                              95.0      100.0   2022       2023       32037.054667

                                                                          draw_495  \
location                 sex  age_start age_end year_start year_end
United States of America Male 75.0      80.0    2022       2023      286707.666817
                              80.0      85.0    2022       2023      272172.292983
                              85.0      90.0    2022       2023      292854.234936
                              90.0      95.0    2022       2023      119742.388165
                              95.0      100.0   2022       2023       33926.196355

                                                                          draw_496  \
location                 sex  age_start age_end year_start year_end
United States of America Male 75.0      80.0    2022       2023      288361.928754
                              80.0      85.0    2022       2023      286599.286178
                              85.0      90.0    2022       2023      324185.862549
                              90.0      95.0    2022       2023      139285.777478
                              95.0      100.0   2022       2023       34717.989582

                                                                          draw_497  \
location                 sex  age_start age_end year_start year_end
United States of America Male 75.0      80.0    2022       2023      281653.836405
                              80.0      85.0    2022       2023      235443.951067
                              85.0      90.0    2022       2023      293051.854129
                              90.0      95.0    2022       2023      121602.893171
                              95.0      100.0   2022       2023       29169.491828

                                                                          draw_498  \
location                 sex  age_start age_end year_start year_end
United States of America Male 75.0      80.0    2022       2023      283209.988963
                              80.0      85.0    2022       2023      230842.759084
                              85.0      90.0    2022       2023      265368.527577
                              90.0      95.0    2022       2023      101618.235854
                              95.0      100.0   2022       2023       28270.193829

                                                                          draw_499
location                 sex  age_start age_end year_start year_end
United States of America Male 75.0      80.0    2022       2023      237124.856198
                              80.0      85.0    2022       2023      276251.278427
                              85.0      90.0    2022       2023      293529.464736
                              90.0      95.0    2022       2023      117661.784595
                              95.0      100.0   2022       2023       31345.616710

[5 rows x 500 columns]

In [14]:
# NOTE: Make sure initial sim population is accurate!
initial_simulation_population = population.get_initial_simulation_population(
    RunType.FINAL)

print(f'{initial_simulation_population=}')

art_model_scale = population.calculate_model_scale(
    initial_simulation_population,
    art_all_states_initial_prev_counts,
)
art_model_scale

initial_simulation_population=2000000

,draw_0,draw_1,draw_2,draw_3,draw_4,draw_5,draw_6,draw_7,draw_8,draw_9,...,draw_490,draw_491,draw_492,draw_493,draw_494,draw_495,draw_496,draw_497,draw_498,draw_499
location,,,,,,,,,,,,,,,,,,,,,
Brazil,1.182478,1.062553,1.144685,1.078614,1.082753,1.121963,1.003505,1.068713,1.068239,1.220286,...,1.290358,1.060123,1.086799,1.233531,0.984699,1.172564,1.172570,1.039336,1.177133,1.124321
China,0.133424,0.130108,0.114296,0.115621,0.123448,0.119143,0.117581,0.124027,0.115181,0.126465,...,0.119680,0.125693,0.127735,0.134309,0.126757,0.123859,0.124902,0.119387,0.127926,0.123437
Germany,0.863308,0.892693,0.882412,0.879660,0.779863,0.862006,0.874659,0.883173,0.857328,0.946077,...,0.948708,0.848518,0.866878,0.955230,0.949687,0.931259,0.830667,0.891217,0.877104,0.868272
Israel,41.254628,40.310785,40.210343,40.057537,39.166235,44.012209,35.797113,38.209922,41.226551,40.837404,...,41.809532,40.213923,40.180520,45.482468,47.228409,38.099635,38.145320,34.621104,48.494263,40.043924
Japan,0.586866,0.574811,0.618108,0.553387,0.564055,0.540442,0.488238,0.511745,0.570487,0.564432,...,0.536199,0.591534,0.595133,0.650132,0.621924,0.603336,0.566684,0.576934,0.585316,0.567870
Spain,3.211223,3.418895,3.073433,2.871964,3.086059,3.235590,2.882333,2.904501,3.250294,2.987198,...,3.452614,3.070298,3.679101,3.409524,3.012754,3.228092,2.819038,2.934665,3.112781,3.208168
Sweden,13.614881,13.790971,11.796806,11.934329,12.544275,12.395964,11.855079,13.491354,13.650575,12.357657,...,13.678809,12.871456,13.393983,14.436751,12.375910,11.803971,12.878710,12.507280,14.370234,12.398862
Taiwan (Province of China),8.808232,7.720413,9.725660,8.515740,8.443536,8.972456,8.809221,9.256961,7.936908,8.524695,...,8.314534,8.305947,8.938951,9.810819,9.125070,8.416122,8.602790,8.931823,8.469918,8.560164
United Kingdom,2.099057,2.036624,2.077655,2.012311,2.061171,2.033260,2.023333,2.027407,1.980920,1.990865,...,1.905267,1.952344,2.208905,2.390574,2.156457,2.099913,1.927622,2.024944,2.021172,2.005293
United States of America,0.435214,0.429244,0.414357,0.431238,0.427998,0.444600,0.417452,0.416229,0.423805,0.406953,...,0.371698,0.461168,0.424932,0.475658,0.453406,0.434504,0.407813,0.435152,0.469132,0.445144

# Reformat model scale and population structure to sim format

In [15]:
model_scale_sim = convert_to_sim_format(art_model_scale, draws, None, age_map, colname_to_dtype)
model_scale_sim

                      location  input_draw      value
0                       Brazil         169   1.053388
1                       Brazil         258   0.943491
2                       Brazil         323   1.059915
3                       Brazil         446   0.982799
4                       Brazil         457   1.151080
5                        China         169   0.116177
6                        China         258   0.106308
7                        China         323   0.112346
8                        China         446   0.120095
9                        China         457   0.125744
10                     Germany         169   0.912870
11                     Germany         258   0.885982
12                     Germany         323   0.939648
13                     Germany         446   0.870607
14                     Germany         457   1.012328
15                      Israel         169  39.273048
16                      Israel         258  42.591991
17                      Israel         323  45.228774
18                      Israel         446  39.388529
19                      Israel         457  43.913069
20                       Japan         169   0.554160
21                       Japan         258   0.534305
22                       Japan         323   0.592567
23                       Japan         446   0.511002
24                       Japan         457   0.694869
25                       Spain         169   3.175186
26                       Spain         258   3.187141
27                       Spain         323   3.190730
28                       Spain         446   3.000791
29                       Spain         457   3.314228
30                      Sweden         169  11.361366
31                      Sweden         258  12.890094
32                      Sweden         323  13.308238
33                      Sweden         446  12.447040
34                      Sweden         457  14.830542
35  Taiwan (Province of China)         169   8.202807
36  Taiwan (Province of China)         258   8.855923
37  Taiwan (Province of China)         323   8.050507
38  Taiwan (Province of China)         446   8.887794
39  Taiwan (Province of China)         457   9.228760
40              United Kingdom         169   1.969920
41              United Kingdom         258   1.987250
42              United Kingdom         323   2.042450
43              United Kingdom         446   1.905066
44              United Kingdom         457   2.157581
45    United States of America         169   0.413055
46    United States of America         258   0.428546
47    United States of America         323   0.462679
48    United States of America         446   0.424789
49    United States of America         457   0.466601

In [27]:
f'Must pass one of {", ".join(str(x) for x in RunType)} for run_type'

'Must pass one of RunType.V_AND_V, RunType.FINAL for run_type'

In [23]:
",".join([str(x) for x in RunType])

'RunType.V_AND_V,RunType.FINAL'

In [26]:
population.get_initial_simulation_population(4)

ValueError: Must pass one of RunType.V_AND_V, RunType.FINAL for run_type

# Create a results object and load population data

In [17]:
results = AlzheimersResultsProcessor('8.3', RunType.FINAL, batch_run_dirs=batch_run_dirs)

In [18]:
results.load_population_data()
results.model_scale

                      location  input_draw      value
0                       Brazil         169   1.053388
1                       Brazil         258   0.943491
2                       Brazil         323   1.059915
3                       Brazil         446   0.982799
4                       Brazil         457   1.151080
5                        China         169   0.116177
6                        China         258   0.106308
7                        China         323   0.112346
8                        China         446   0.120095
9                        China         457   0.125744
10                     Germany         169   0.912870
11                     Germany         258   0.885982
12                     Germany         323   0.939648
13                     Germany         446   0.870607
14                     Germany         457   1.012328
15                      Israel         169  39.273048
16                      Israel         258  42.591991
17                      Israel         323  45.228774
18                      Israel         446  39.388529
19                      Israel         457  43.913069
20                       Japan         169   0.554160
21                       Japan         258   0.534305
22                       Japan         323   0.592567
23                       Japan         446   0.511002
24                       Japan         457   0.694869
25                       Spain         169   3.175186
26                       Spain         258   3.187141
27                       Spain         323   3.190730
28                       Spain         446   3.000791
29                       Spain         457   3.314228
30                      Sweden         169  11.361366
31                      Sweden         258  12.890094
32                      Sweden         323  13.308238
33                      Sweden         446  12.447040
34                      Sweden         457  14.830542
35  Taiwan (Province of China)         169   8.202807
36  Taiwan (Province of China)         258   8.855923
37  Taiwan (Province of China)         323   8.050507
38  Taiwan (Province of China)         446   8.887794
39  Taiwan (Province of China)         457   9.228760
40              United Kingdom         169   1.969920
41              United Kingdom         258   1.987250
42              United Kingdom         323   2.042450
43              United Kingdom         446   1.905066
44              United Kingdom         457   2.157581
45    United States of America         169   0.413055
46    United States of America         258   0.428546
47    United States of America         323   0.462679
48    United States of America         446   0.424789
49    United States of America         457   0.466601

In [19]:
results.person_time

                        location     sex  ...         value  age_group
0       United States of America  Female  ...  1.156020e+07   25_to_29
1       United States of America  Female  ...  1.094300e+07   25_to_29
2       United States of America  Female  ...  1.051324e+07   25_to_29
3       United States of America  Female  ...  1.097049e+07   25_to_29
4       United States of America  Female  ...  1.121058e+07   25_to_29
...                          ...     ...  ...           ...        ...
113995            United Kingdom    Male  ...  1.309761e+05    95_plus
113996            United Kingdom    Male  ...  1.554175e+05    95_plus
113997            United Kingdom    Male  ...  1.205289e+05    95_plus
113998            United Kingdom    Male  ...  1.254920e+05    95_plus
113999            United Kingdom    Male  ...  1.446562e+05    95_plus

[114000 rows x 6 columns]

In [32]:
with Timer():
    results.load_measure_from_batch_runs('deaths', filters=loading.FINAL_RESULTS_FILTERS['deaths'])

[('event_year', '>=', '2025'), ('entity', '=', 'alzheimers_disease_state')]
{'all': PosixPath('/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/results/model8.7/model_spec/2025_11_05_15_36_29/results')}
{'United States of America': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', 'Brazil': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', 'China': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', 'Germany': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', 'Israel': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', 'Japan': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', 'Spain': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', 'Sweden': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', 'Taiwan (Province of China)': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', 'United Kingdom': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf'}
('artifact_path', 'in', ['/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf'])
[('artifact_path', 'in', ['/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf']), ('event_year', '>=', '2025'), ('entity', '=', 'alzheimers_disease_state')]
677.171843 MB after read_parquet
4.109636 MB after aggregating seeds and converting dtypes
{'all': PosixPath('/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/results/model8.7/model_spec/2025_11_06_06_42_37/results')}
{'United States of America': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', 'Brazil': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', 'China': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', 'Germany': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', 'Israel': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', 'Japan': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', 'Spain': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', 'Sweden': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', 'Taiwan (Province of China)': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', 'United Kingdom': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf'}
('artifact_path', 'in', ['/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf'])
[('artifact_path', 'in', ['/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf']), ('event_year', '>=', '2025'), ('entity', '=', 'alzheimers_disease_state')]
451.451843 MB after read_parquet
2.741636 MB after aggregating seeds and converting dtypes
6.845636 MB total
6.845636 MB after enforcing dtypes
Elapsed time: 0:00:11.574816

In [33]:
results.data.deaths

       age_group  ... location
0       25_to_29  ...    Japan
1       25_to_29  ...    Japan
2       25_to_29  ...    Japan
3       25_to_29  ...    Japan
4       25_to_29  ...    Japan
...          ...  ...      ...
341995   95_plus  ...   Brazil
341996   95_plus  ...   Brazil
341997   95_plus  ...   Brazil
341998   95_plus  ...   Brazil
341999   95_plus  ...   Brazil

[342000 rows x 11 columns]

In [39]:
342000 /3 * (2+3)

570000.0

In [35]:
deaths_prepped = results.process_deaths(results.data.deaths)
deaths_prepped

9.581504 MB measure
3.197504 MB minuend
6.389504 MB subtrahend
2.060987 MB minuend re-indexed
4.112987 MB subtrahend re-indexed
4.113047 MB difference
7.301636 MB difference with reset index
7.529961 MB final difference

       age_group  ...  metric
0       25_to_29  ...  Number
1       25_to_29  ...  Number
2       25_to_29  ...  Number
3       25_to_29  ...  Number
4       25_to_29  ...  Number
...          ...  ...     ...
569995   95_plus  ...  Number
569996   95_plus  ...  Number
569997   95_plus  ...  Number
569998   95_plus  ...  Number
569999   95_plus  ...  Number

[570000 rows x 12 columns]

In [37]:
results.calculate_rate(deaths_prepped)

       age_group  event_year  ...                    scenario     value
0       25_to_29        2025  ...                    baseline  0.000000
1       25_to_29        2025  ...                bbbm_testing  0.000000
2       25_to_29        2025  ...  bbbm_testing_and_treatment  0.000000
3       25_to_29        2025  ...                bbbm_testing  0.000000
4       25_to_29        2025  ...  bbbm_testing_and_treatment  0.000000
...          ...         ...  ...                         ...       ...
569995   95_plus        2100  ...                    baseline  0.004854
569996   95_plus        2100  ...                bbbm_testing  0.004854
569997   95_plus        2100  ...  bbbm_testing_and_treatment  0.004883
569998   95_plus        2100  ...                bbbm_testing  0.000000
569999   95_plus        2100  ...  bbbm_testing_and_treatment -0.000029

[570000 rows x 12 columns]

In [31]:
results.ops.compare_values(_25, results.data.deaths)

Empty DataFrame
Columns: []
Index: []

# MSLT results

In [ ]:
!ls $mslt_output_dir

2025_11_14__14_11_42_outside_sim_results_draw_level.csv

In [97]:
mslt_results = pd.read_csv(mslt_output_dir / '2025_11_14__14_11_42_outside_sim_results_draw_level.csv', index_col=0)
mslt_results

        Year                  Location       Age  ...  Metric Draw         Value
0       2025                    Brazil  60_to_64  ...  Number  113      0.000000
1       2025                    Brazil  60_to_64  ...  Number   13      0.000000
2       2025                    Brazil  60_to_64  ...  Number  158      0.000000
3       2025                    Brazil  60_to_64  ...  Number  169      0.000000
4       2025                    Brazil  60_to_64  ...  Number  177      0.000000
...      ...                       ...       ...  ...     ...  ...           ...
151995  2100  United States of America  75_to_79  ...  Number   46  41101.303607
151996  2100  United States of America  75_to_79  ...  Number  460  41691.942867
151997  2100  United States of America  75_to_79  ...  Number  480  39195.330257
151998  2100  United States of America  75_to_79  ...  Number  499  40424.816911
151999  2100  United States of America  75_to_79  ...  Number   89  43206.673563

[912000 rows x 10 columns]

In [114]:
mslt_results.Age.unique()

array(['60_to_64', '65_to_69', '70_to_74', '75_to_79'], dtype=object)

In [98]:
mslt_results_prepped = results.process_mslt_results(mslt_results)
mslt_results_prepped

       event_year                  location  ... input_draw         value
3            2025                    Brazil  ...        169      0.000000
8            2025                    Brazil  ...        258      0.000000
13           2025                    Brazil  ...        323      0.000000
18           2025                    Brazil  ...        446      0.000000
19           2025                    Brazil  ...        457      0.000000
...           ...                       ...  ...        ...           ...
151978       2100  United States of America  ...        169  42594.508978
151983       2100  United States of America  ...        258  40580.387735
151988       2100  United States of America  ...        323  38815.152311
151993       2100  United States of America  ...        446  40402.097304
151994       2100  United States of America  ...        457  41377.743910

[182400 rows x 10 columns]

# BBBM Test Counts

In [99]:
with Timer():
    bbbm_tests = results.load_measure_from_batch_runs(
        'counts_bbbm_tests', False, filters=loading.FINAL_RESULTS_FILTERS['counts_bbbm_tests'])

bbbm_tests

[('event_year', '>=', '2025'), ('bbbm_test_results', '!=', 'not_tested')]
{'all': PosixPath('/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/results/model8.7/model_spec/2025_11_05_15_36_29/results')}
{'United States of America': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', 'Brazil': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', 'China': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', 'Germany': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', 'Israel': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', 'Japan': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', 'Spain': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', 'Sweden': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', 'Taiwan (Province of China)': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', 'United Kingdom': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf'}
('artifact_path', 'in', ['/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf'])
[('artifact_path', 'in', ['/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf']), ('event_year', '>=', '2025'), ('bbbm_test_results', '!=', 'not_tested')]
1682.651822 MB after read_parquet
8.624273 MB after aggregating seeds and converting dtypes
{'all': PosixPath('/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/results/model8.7/model_spec/2025_11_06_06_42_37/results')}
{'United States of America': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', 'Brazil': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', 'China': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', 'Germany': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', 'Israel': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', 'Japan': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', 'Spain': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', 'Sweden': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', 'Taiwan (Province of China)': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', 'United Kingdom': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf'}
('artifact_path', 'in', ['/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf'])
[('artifact_path', 'in', ['/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf']), ('event_year', '>=', '2025'), ('bbbm_test_results', '!=', 'not_tested')]
1121.771822 MB after read_parquet
5.751473 MB after aggregating seeds and converting dtypes
14.369873 MB total
14.369873 MB after enforcing dtypes
Elapsed time: 0:00:22.886520

       age_group  ... location
0       25_to_29  ...    Japan
1       25_to_29  ...    Japan
2       25_to_29  ...    Japan
3       25_to_29  ...    Japan
4       25_to_29  ...    Japan
...          ...  ...      ...
683995   95_plus  ...   Brazil
683996   95_plus  ...   Brazil
683997   95_plus  ...   Brazil
683998   95_plus  ...   Brazil
683999   95_plus  ...   Brazil

[684000 rows x 12 columns]

In [100]:
bbbm_tests.query("bbbm_test_results=='positive'")

       age_group  ... location
0       25_to_29  ...    Japan
1       25_to_29  ...    Japan
2       25_to_29  ...    Japan
3       25_to_29  ...    Japan
4       25_to_29  ...    Japan
...          ...  ...      ...
683083   95_plus  ...   Brazil
683084   95_plus  ...   Brazil
683085   95_plus  ...   Brazil
683086   95_plus  ...   Brazil
683087   95_plus  ...   Brazil

[342000 rows x 12 columns]

In [106]:
bbbm_tests.dtypes

age_group            category
artifact_path        category
bbbm_test_results    category
entity               category
entity_type          category
event_year              int16
input_draw              int16
measure              category
scenario             category
sex                  category
value                 float64
location             category
dtype: object

In [110]:
bbbm_tests.astype({'age_group': 'str'}).query("age_group > '70_to_74' and value>0")

       age_group  ... location
273692  75_to_79  ...    Japan
273693  75_to_79  ...    Japan
273694  75_to_79  ...    Japan
273695  75_to_79  ...    Japan
273698  75_to_79  ...    Japan
...          ...  ...      ...
611033  75_to_79  ...   Brazil
611036  75_to_79  ...   Brazil
611037  75_to_79  ...   Brazil
611038  75_to_79  ...   Brazil
611039  75_to_79  ...   Brazil

[28400 rows x 12 columns]

In [111]:
bbbm_tests.age_group.unique()

['25_to_29', '30_to_34', '35_to_39', '40_to_44', '45_to_49', ..., '75_to_79', '80_to_84', '85_to_89', '90_to_94', '95_plus']
Length: 15
Categories (15, object): ['25_to_29' < '30_to_34' < '35_to_39' < '40_to_44' ... '80_to_84' < '85_to_89' < '90_to_94' < '95_plus']

In [112]:
bbbm_tests.query("value>0").age_group.unique()

['60_to_64', '65_to_69', '70_to_74', '75_to_79']
Categories (15, object): ['25_to_29' < '30_to_34' < '35_to_39' < '40_to_44' ... '80_to_84' < '85_to_89' < '90_to_94' < '95_plus']

In [115]:
bbbm_tests_prepped = results.process_bbbm_tests(bbbm_tests, mslt_results_prepped)
bbbm_tests_prepped

       age_group event_year input_draw  ...          value   disease_stage  metric
0       60_to_64       2025        169  ...       0.000000  Preclinical AD  Number
1       60_to_64       2025        169  ...       0.000000  Preclinical AD  Number
2       60_to_64       2025        169  ...       0.000000  Preclinical AD  Number
3       60_to_64       2025        169  ...       0.000000  Preclinical AD  Number
4       60_to_64       2025        169  ...       0.000000  Preclinical AD  Number
...          ...        ...        ...  ...            ...             ...     ...
303995  75_to_79       2100        169  ...  141981.696594     Susceptible  Number
303996  75_to_79       2100        258  ...  135267.959115     Susceptible  Number
303997  75_to_79       2100        323  ...  129383.841038     Susceptible  Number
303998  75_to_79       2100        446  ...  134673.657679     Susceptible  Number
303999  75_to_79       2100        457  ...  137925.813033     Susceptible  Number

[304000 rows x 10 columns]

In [120]:
bbbm_test_rate = results.calculate_rate(bbbm_tests_prepped)
bbbm_test_rate

       age_group  event_year  ...                    scenario     value
0       60_to_64        2025  ...                    baseline  0.000000
1       60_to_64        2025  ...                bbbm_testing  0.000000
2       60_to_64        2025  ...  bbbm_testing_and_treatment  0.000000
3       60_to_64        2025  ...                    baseline  0.000000
4       60_to_64        2025  ...                bbbm_testing  0.000000
...          ...         ...  ...                         ...       ...
303995  75_to_79        2100  ...  bbbm_testing_and_treatment  0.002588
303996  75_to_79        2100  ...           BBBM Testing Only  0.206670
303997  75_to_79        2100  ...           BBBM Testing Only  0.020667
303998  75_to_79        2100  ...  BBBM Testing and Treatment  0.206670
303999  75_to_79        2100  ...  BBBM Testing and Treatment  0.020667

[304000 rows x 10 columns]

In [104]:
bbbm_test_rate.query("value>0")

       age_group  event_year  ...                    scenario     value
324201  60_to_64        2030  ...                bbbm_testing  0.001475
324202  60_to_64        2030  ...  bbbm_testing_and_treatment  0.001475
324204  60_to_64        2030  ...                bbbm_testing  0.001318
324205  60_to_64        2030  ...  bbbm_testing_and_treatment  0.001318
324206  60_to_64        2030  ...           BBBM Testing Only  0.094602
...          ...         ...  ...                         ...       ...
623195  75_to_79        2100  ...  bbbm_testing_and_treatment  0.002588
623196  75_to_79        2100  ...           BBBM Testing Only  0.206670
623197  75_to_79        2100  ...           BBBM Testing Only  0.020667
623198  75_to_79        2100  ...  BBBM Testing and Treatment  0.206670
623199  75_to_79        2100  ...  BBBM Testing and Treatment  0.020667

[227200 rows x 10 columns]

# CSF and PET Test Counts

In [125]:
csf_pet_filters = [('testing_state', 'in', ['csf', 'pet'])]
with Timer():
    csf_pet_tests = results.load_measure_from_batch_runs(
        'counts_baseline_tests_among_eligible', False, filters=csf_pet_filters
    )
print(len(csf_pet_tests), 'rows')
csf_pet_tests.head()

[('event_year', '>=', '2025'), ('testing_state', 'in', ['csf', 'pet'])]
{'all': PosixPath('/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/results/model8.7/model_spec/2025_11_05_15_36_29/results')}
{'United States of America': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', 'Brazil': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', 'China': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', 'Germany': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', 'Israel': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', 'Japan': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', 'Spain': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', 'Sweden': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', 'Taiwan (Province of China)': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', 'United Kingdom': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf'}
('artifact_path', 'in', ['/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf'])
[('artifact_path', 'in', ['/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf']), ('event_year', '>=', '2025'), ('testing_state', 'in', ['csf', 'pet'])]
1682.65196 MB after read_parquet
8.624411 MB after aggregating seeds and converting dtypes
{'all': PosixPath('/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/results/model8.7/model_spec/2025_11_06_06_42_37/results')}
{'United States of America': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', 'Brazil': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', 'China': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', 'Germany': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', 'Israel': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', 'Japan': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', 'Spain': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', 'Sweden': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', 'Taiwan (Province of China)': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', 'United Kingdom': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf'}
('artifact_path', 'in', ['/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf'])
[('artifact_path', 'in', ['/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf']), ('event_year', '>=', '2025'), ('testing_state', 'in', ['csf', 'pet'])]
1121.77196 MB after read_parquet
5.751611 MB after aggregating seeds and converting dtypes
14.370011 MB total
14.370011 MB after enforcing dtypes
Elapsed time: 0:00:23.317800
684000 rows

  age_group                                      artifact_path  ... value location
0  25_to_29  /mnt/team/simulation_science/pub/models/vivari...  ...   0.0    Japan
1  25_to_29  /mnt/team/simulation_science/pub/models/vivari...  ...   0.0    Japan
2  25_to_29  /mnt/team/simulation_science/pub/models/vivari...  ...   0.0    Japan
3  25_to_29  /mnt/team/simulation_science/pub/models/vivari...  ...   0.0    Japan
4  25_to_29  /mnt/team/simulation_science/pub/models/vivari...  ...   0.0    Japan

[5 rows x 12 columns]

In [126]:
csf_pet_tests

       age_group  ... location
0       25_to_29  ...    Japan
1       25_to_29  ...    Japan
2       25_to_29  ...    Japan
3       25_to_29  ...    Japan
4       25_to_29  ...    Japan
...          ...  ...      ...
683995   95_plus  ...   Brazil
683996   95_plus  ...   Brazil
683997   95_plus  ...   Brazil
683998   95_plus  ...   Brazil
683999   95_plus  ...   Brazil

[684000 rows x 12 columns]

In [128]:
csf_pet_tests.query("value>0").age_group.unique()

['30_to_34', '35_to_39', '40_to_44', '45_to_49', '50_to_54', ..., '75_to_79', '80_to_84', '85_to_89', '90_to_94', '95_plus']
Length: 14
Categories (15, object): ['25_to_29' < '30_to_34' < '35_to_39' < '40_to_44' ... '80_to_84' < '85_to_89' < '90_to_94' < '95_plus']

In [130]:
csf_pet_tests_prepped = results.process_csf_pet_tests(csf_pet_tests)
csf_pet_tests_prepped

19.842122 MB measure
6.618122 MB minuend
13.230122 MB subtrahend
4.341673 MB minuend re-indexed
8.673673 MB subtrahend re-indexed
8.673733 MB difference
15.054254 MB difference with reset index
15.510579 MB final difference

        age_group  ...  metric
0        25_to_29  ...  Number
1        25_to_29  ...  Number
2        25_to_29  ...  Number
3        25_to_29  ...  Number
4        25_to_29  ...  Number
...           ...  ...     ...
1139995   95_plus  ...  Number
1139996   95_plus  ...  Number
1139997   95_plus  ...  Number
1139998   95_plus  ...  Number
1139999   95_plus  ...  Number

[1140000 rows x 13 columns]

# Treatment Counts

In [133]:
treatments_filters = [
    ('sub_entity', 'in',
     ['susceptible_to_treatment_to_waiting_for_treatment',
      'waiting_for_treatment_to_full_effect_long',
      'waiting_for_treatment_to_full_effect_short']
    )
]

with Timer():
    treatments = results.load_measure_from_batch_runs(
        'transition_count_treatment', False, filters=treatments_filters
    )
print(len(treatments), 'rows')
treatments.head()

[('event_year', '>=', '2025'), ('sub_entity', 'in', ['susceptible_to_treatment_to_waiting_for_treatment', 'waiting_for_treatment_to_full_effect_long', 'waiting_for_treatment_to_full_effect_short'])]
{'all': PosixPath('/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/results/model8.7/model_spec/2025_11_05_15_36_29/results')}
{'United States of America': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', 'Brazil': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', 'China': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', 'Germany': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', 'Israel': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', 'Japan': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', 'Spain': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', 'Sweden': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', 'Taiwan (Province of China)': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', 'United Kingdom': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf'}
('artifact_path', 'in', ['/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf'])
[('artifact_path', 'in', ['/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf']), ('event_year', '>=', '2025'), ('sub_entity', 'in', ['susceptible_to_treatment_to_waiting_for_treatment', 'waiting_for_treatment_to_full_effect_long', 'waiting_for_treatment_to_full_effect_short'])]
2031.492614 MB after read_parquet
12.934265 MB after aggregating seeds and converting dtypes
{'all': PosixPath('/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/results/model8.7/model_spec/2025_11_06_06_42_37/results')}
{'United States of America': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', 'Brazil': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', 'China': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', 'Germany': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', 'Israel': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', 'Japan': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', 'Spain': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', 'Sweden': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', 'Taiwan (Province of China)': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', 'United Kingdom': '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf'}
('artifact_path', 'in', ['/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf'])
[('artifact_path', 'in', ['/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_states_of_america.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/brazil.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/china.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/germany.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/israel.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/japan.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/spain.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/sweden.hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/taiwan_(province_of_china).hdf', '/mnt/team/simulation_science/pub/models/vivarium_csu_alzheimers/artifacts/model8.3/united_kingdom.hdf']), ('event_year', '>=', '2025'), ('sub_entity', 'in', ['susceptible_to_treatment_to_waiting_for_treatment', 'waiting_for_treatment_to_full_effect_long', 'waiting_for_treatment_to_full_effect_short'])]
1354.332614 MB after read_parquet
8.625065 MB after aggregating seeds and converting dtypes
21.552665 MB total
21.552665 MB after enforcing dtypes
Elapsed time: 0:00:35.596331
1026000 rows

  age_group                                      artifact_path  ... value location
0  25_to_29  /mnt/team/simulation_science/pub/models/vivari...  ...   0.0    Japan
1  25_to_29  /mnt/team/simulation_science/pub/models/vivari...  ...   0.0    Japan
2  25_to_29  /mnt/team/simulation_science/pub/models/vivari...  ...   0.0    Japan
3  25_to_29  /mnt/team/simulation_science/pub/models/vivari...  ...   0.0    Japan
4  25_to_29  /mnt/team/simulation_science/pub/models/vivari...  ...   0.0    Japan

[5 rows x 12 columns]

In [135]:
start_treatment = [
        'waiting_for_treatment_to_full_effect_long',
        'waiting_for_treatment_to_full_effect_short']
treatments.query("sub_entity in @start_treatment and value>0").age_group.unique()

['60_to_64', '65_to_69', '70_to_74', '75_to_79', '80_to_84']
Categories (15, object): ['25_to_29' < '30_to_34' < '35_to_39' < '40_to_44' ... '80_to_84' < '85_to_89' < '90_to_94' < '95_plus']

In [136]:
treatments.query("sub_entity=='susceptible_to_treatment_to_waiting_for_treatment' and value>0").age_group.unique()

['60_to_64', '65_to_69', '70_to_74', '75_to_79']
Categories (15, object): ['25_to_29' < '30_to_34' < '35_to_39' < '40_to_44' ... '80_to_84' < '85_to_89' < '90_to_94' < '95_plus']

In [144]:
treatments_prepped = results.process_treatments(treatments, mslt_results_prepped)
treatments_prepped

       age_group event_year  ...                  location   disease_stage
0       60_to_64       2025  ...                     Japan  Preclinical AD
1       60_to_64       2025  ...                     Japan  Preclinical AD
2       60_to_64       2025  ...                     Japan  Preclinical AD
3       60_to_64       2025  ...                     Japan  Preclinical AD
4       60_to_64       2025  ...                     Japan  Preclinical AD
...          ...        ...  ...                       ...             ...
516795  75_to_79       2100  ...  United States of America     Susceptible
516796  75_to_79       2100  ...  United States of America     Susceptible
516797  75_to_79       2100  ...  United States of America     Susceptible
516798  75_to_79       2100  ...  United States of America     Susceptible
516799  75_to_79       2100  ...  United States of America     Susceptible

[516800 rows x 9 columns]

In [151]:
with Timer():
    treatments_output = results.summarize_and_beautify(treatments_prepped, 'disease_stage')

print(len(treatments_output), 'rows')
treatments_output.head()

2025-11-20 12:55:26.255038
2025-11-20 12:55:29.383393
2025-11-20 12:59:07.813785
Elapsed time: 0:03:41.569582
161120 rows

   Year Location       Age     Sex  ...  Metric Mean 95% UI Lower 95% UI Upper
0  2025   Brazil  60_to_64  Female  ...  Number  0.0          0.0          0.0
1  2025   Brazil  60_to_64    Male  ...  Number  0.0          0.0          0.0
2  2025   Brazil  60_to_64  Female  ...  Number  0.0          0.0          0.0
3  2025   Brazil  60_to_64    Male  ...  Number  0.0          0.0          0.0
4  2025   Brazil  60_to_64  Female  ...  Number  0.0          0.0          0.0

[5 rows x 11 columns]

In [154]:
treatments_output

        Year                  Location  ... 95% UI Lower 95% UI Upper
0       2025                    Brazil  ...     0.000000     0.000000
1       2025                    Brazil  ...     0.000000     0.000000
2       2025                    Brazil  ...     0.000000     0.000000
3       2025                    Brazil  ...     0.000000     0.000000
4       2025                    Brazil  ...     0.000000     0.000000
...      ...                       ...  ...          ...          ...
161115  2100  United States of America  ...     0.000000     0.000000
161116  2100  United States of America  ...     0.000000     0.000000
161117  2100  United States of America  ...     0.000000     0.000000
161118  2100  United States of America  ...     0.000019     0.000355
161119  2100  United States of America  ...     0.000004     0.000262

[161120 rows x 11 columns]

In [156]:
treatments_output.query("`Disease Stage` == 'Preclinical AD'").Year.unique()

[2025, 2026, 2027, 2028, 2029, ..., 2096, 2097, 2098, 2099, 2100]
Length: 76
Categories (76, int64): [2025, 2026, 2027, 2028, ..., 2097, 2098, 2099, 2100]

In [145]:
treatments_prepped.age_group.unique()

['60_to_64', '65_to_69', '70_to_74', '75_to_79', '80_to_84']
Categories (5, object): ['60_to_64', '65_to_69', '70_to_74', '75_to_79', '80_to_84']

In [147]:
treatment_rates = results.calculate_rate(treatments_prepped)
treatment_rates

       age_group  event_year  ...     value metric
0       60_to_64        2025  ...  0.000000   Rate
1       60_to_64        2025  ...  0.000000   Rate
2       60_to_64        2025  ...  0.000000   Rate
3       60_to_64        2025  ...  0.000000   Rate
4       60_to_64        2025  ...  0.000000   Rate
...          ...         ...  ...       ...    ...
516795  80_to_84        2100  ...  0.000000   Rate
516796  80_to_84        2100  ...  0.000000   Rate
516797  80_to_84        2100  ...  0.000000   Rate
516798  80_to_84        2100  ...  0.000090   Rate
516799  80_to_84        2100  ...  0.000008   Rate

[516800 rows x 10 columns]

In [149]:
treatment_rates.query("disease_stage=='Susceptible'")

       age_group  event_year  ...     value metric
12      60_to_64        2025  ...  0.000000   Rate
13      60_to_64        2025  ...  0.000000   Rate
26      60_to_64        2025  ...  0.000000   Rate
27      60_to_64        2025  ...  0.000000   Rate
40      60_to_64        2025  ...  0.000000   Rate
...          ...         ...  ...       ...    ...
425571  75_to_79        2100  ...  0.012777   Rate
425584  75_to_79        2100  ...  0.000000   Rate
425585  75_to_79        2100  ...  0.005719   Rate
425598  75_to_79        2100  ...  0.000000   Rate
425599  75_to_79        2100  ...  0.006200   Rate

[60800 rows x 10 columns]

In [141]:
mslt_results_prepped.query("measure.str.contains('Medication')")

       event_year                  location  ... input_draw         value
3            2025                    Brazil  ...        169      0.000000
8            2025                    Brazil  ...        258      0.000000
13           2025                    Brazil  ...        323      0.000000
18           2025                    Brazil  ...        446      0.000000
19           2025                    Brazil  ...        457      0.000000
...           ...                       ...  ...        ...           ...
151978       2100  United States of America  ...        169  42594.508978
151983       2100  United States of America  ...        258  40580.387735
151988       2100  United States of America  ...        323  38815.152311
151993       2100  United States of America  ...        446  40402.097304
151994       2100  United States of America  ...        457  41377.743910

[60800 rows x 10 columns]

In [142]:
mslt_results_prepped.measure.unique()

['BBBM Tests', 'BBBM Positive Tests', 'Medication Initiation']
Categories (3, object): ['BBBM Positive Tests', 'BBBM Tests', 'Medication Initiation']

# Scratchwork

In [69]:
bbbm_tests_prepped

       age_group  ...  metric
0       25_to_29  ...  Number
1       25_to_29  ...  Number
2       25_to_29  ...  Number
3       25_to_29  ...  Number
4       25_to_29  ...  Number
...          ...  ...     ...
683995   95_plus  ...  Number
683996   95_plus  ...  Number
683997   95_plus  ...  Number
683998   95_plus  ...  Number
683999   95_plus  ...  Number

[684000 rows x 13 columns]

In [66]:
column_name_map = {
            'event_year': 'Year',
            'age_group': 'Age',
            'location': 'Location',
            'sex': 'Sex',
            'scenario': 'Scenario',
            'measure': 'Measure',
            'metric': 'Metric',
            'disease_stage': 'Disease Stage',
            'input_draw': 'Draw',
            'value': 'Value',
            'mean': 'Mean',
            'lower': '95% UI Lower',
            'upper': '95% UI Upper',
        }
reverse_map = {v: k for k, v in column_name_map.items()}
reverse_map

{'Year': 'event_year',
 'Age': 'age_group',
 'Location': 'location',
 'Sex': 'sex',
 'Scenario': 'scenario',
 'Measure': 'measure',
 'Metric': 'metric',
 'Disease Stage': 'disease_stage',
 'Draw': 'input_draw',
 'Value': 'value',
 'Mean': 'mean',
 '95% UI Lower': 'lower',
 '95% UI Upper': 'upper'}

In [68]:
temp = mslt_results.rename(columns=reverse_map)
temp

        event_year                  location  ... input_draw         value
0             2025                    Brazil  ...        113      0.000000
1             2025                    Brazil  ...         13      0.000000
2             2025                    Brazil  ...        158      0.000000
3             2025                    Brazil  ...        169      0.000000
4             2025                    Brazil  ...        177      0.000000
...            ...                       ...  ...        ...           ...
151995        2100  United States of America  ...         46  41101.303607
151996        2100  United States of America  ...        460  41691.942867
151997        2100  United States of America  ...        480  39195.330257
151998        2100  United States of America  ...        499  40424.816911
151999        2100  United States of America  ...         89  43206.673563

[912000 rows x 10 columns]

In [70]:
pd.concat([bbbm_tests_prepped, temp])

       age_group  ...  metric
0       25_to_29  ...  Number
1       25_to_29  ...  Number
2       25_to_29  ...  Number
3       25_to_29  ...  Number
4       25_to_29  ...  Number
...          ...  ...     ...
151995  75_to_79  ...  Number
151996  75_to_79  ...  Number
151997  75_to_79  ...  Number
151998  75_to_79  ...  Number
151999  75_to_79  ...  Number

[1596000 rows x 13 columns]

In [77]:
temp.query("measure.str.contains('Medication') and value > 0 and scenario=='BBBM Testing Only'")

        event_year                  location  ... input_draw         value
1000          2030                    Brazil  ...        113  24115.316094
1001          2030                    Brazil  ...         13  25432.967559
1002          2030                    Brazil  ...        158  24846.791963
1003          2030                    Brazil  ...        169  24018.184411
1004          2030                    Brazil  ...        177  21771.561248
...            ...                       ...  ...        ...           ...
151995        2100  United States of America  ...         46  41101.303607
151996        2100  United States of America  ...        460  41691.942867
151997        2100  United States of America  ...        480  39195.330257
151998        2100  United States of America  ...        499  40424.816911
151999        2100  United States of America  ...         89  43206.673563

[142000 rows x 10 columns]

In [78]:
temp.measure.unique()

array(['BBBM Tests', 'BBBM False Positive Tests',
       'Improper Medication Uses'], dtype=object)

In [83]:
temp.replace(
    {'measure': {'BBBM False Positive Tests': 'BBBM Positive Tests',
 'Improper Medication Uses': 'Medication Initiation'}})

        event_year                  location  ... input_draw         value
0             2025                    Brazil  ...        113      0.000000
1             2025                    Brazil  ...         13      0.000000
2             2025                    Brazil  ...        158      0.000000
3             2025                    Brazil  ...        169      0.000000
4             2025                    Brazil  ...        177      0.000000
...            ...                       ...  ...        ...           ...
151995        2100  United States of America  ...         46  41101.303607
151996        2100  United States of America  ...        460  41691.942867
151997        2100  United States of America  ...        480  39195.330257
151998        2100  United States of America  ...        499  40424.816911
151999        2100  United States of America  ...         89  43206.673563

[912000 rows x 10 columns]

In [82]:
bbbm_tests_prepped.dtypes

age_group        category
artifact_path    category
entity           category
entity_type      category
event_year       category
input_draw       category
location         category
measure          category
scenario         category
sex              category
value             float64
disease_stage    category
metric           category
dtype: object

In [ ]:
testing = temp.query("scenario=='BBBM Testing Only'").drop(columns='scenario')
treatment = temp.query("scenario=='BBBM Testing and Treatment'").drop(columns='scenario')
# This shows that the whole dataframe was copied to the testing-only
# scenario, including medication initiations, which is incorrect
results.ops.compare_values(testing, treatment)

Empty DataFrame
Columns: []
Index: []

In [92]:
mslt_results_processed = results.process_mslt_results(mslt_results)
mslt_results_processed

       event_year                  location  ... input_draw         value
3            2025                    Brazil  ...        169      0.000000
8            2025                    Brazil  ...        258      0.000000
13           2025                    Brazil  ...        323      0.000000
18           2025                    Brazil  ...        446      0.000000
19           2025                    Brazil  ...        457      0.000000
...           ...                       ...  ...        ...           ...
151978       2100  United States of America  ...        169  42594.508978
151983       2100  United States of America  ...        258  40580.387735
151988       2100  United States of America  ...        323  38815.152311
151993       2100  United States of America  ...        446  40402.097304
151994       2100  United States of America  ...        457  41377.743910

[182400 rows x 10 columns]

In [93]:
mslt_results_processed.input_draw.unique()

[169, 258, 323, 446, 457]
Categories (5, int64): [169, 258, 323, 446, 457]

In [94]:
print_memory_usage(mslt_results_processed)

4.565503 MB

In [96]:
mslt_results_processed.measure.unique()

['BBBM Tests', 'BBBM Positive Tests', 'Medication Initiation']
Categories (3, object): ['BBBM Positive Tests', 'BBBM Tests', 'Medication Initiation']